# Qt Creator / Qt build files
*.pro.user
*.pro.user.*
*.qmake.stash
*.qmake.cache
*.creator
*.creator.user
Makefile
*.o
*.obj
*.so
*.a
*.dll
*.exe
*.moc
*.qmlc
*.jsc
*.rcc

# Build directories
/build/
bin/
debug/
release/

# macOS
.DS_Store

# Misc
*.log
*.tmp
